.background {
  padding: 50px;
  background-color: rgb(40, 40, 40);
  text-align: center;
}

.button-row {
  margin: 40px 20px;
  display: flex;
  justify-content: center;
}

.button-content {
  display: flex;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 5px;
  text-align: center;
  background-color: white;
  justify-content: center;
  flex-direction: column;
  width: 500px;
}

div.button-img {
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  background-color: lightblue;
}

div.button-img:hover {
  background-color: #9bc0cc;
}

#footer {
  padding: 15px;
  color: white;
  background-color: rgb(40, 40, 40);
  display: flex;
  justify-content: center;
}

.footer-content {
  margin: auto;
}

#content {
  margin: 8px;
}

body {
  margin: 0px;
  background-color: rgb(230, 235, 240);
  font-family: Helvetica;
}

#header {
  padding: 5px;
  color: white;
  background-color: rgb(40, 40, 40);
}

#home-button {
  padding: 10px;
  background-color: lightblue;
  border-radius: 20px;
}